extends layout
block content
    div.bar.bar-header.bar-dark
        h1.title Авторизация
        a.button.button-positive(href="/register/") Регистрация
    form.content.has-header.padding.form-signin(method="post")
        img.logo(src="/img/green.png" style="margin-bottom: 20px;")
        div.list
            label.item.assertive.item-divider.hide.alert-error
            label.item.item-input
                input(name="email" type="text" placeholder="Email")
            label.item.item-input
                input.input-block-level(name="password" type="password" placeholder="Пароль")
            button.button.button-block.button-positive.activated(type="submit") Вход
    script.
        $(function () {
            $('.form-signin').submit(function () {
                $('.alert-error').hide();
                var data = {};
                $(this).find('input').each(function (i, input) {
                    data[$(input).attr('name')] = $(input).val();
                });
                $.post('', data, function (res) {
                    if (res.success) {
                        document.cookie = "session_id=" + res.sessionId + '; path=/;';
                        location.href = '/';
                    } else {
                        $('.alert-error').html(res.error || 'Ошибка авторизации').show();
                    }
                });
                return false;
            });
        });