extends layout
block content
    form.form-signin(method="post")
        img(src="/img/green.png" style="margin-bottom: 20px;")
        h1 Регистрация
        div.alert.alert-error.fade.in.hide
        input.input-block-level(name="name" type="text" placeholder="Имя")
        input.input-block-level(name="email" type="text" placeholder="Email")
        input.input-block-level(name="password" type="password" placeholder="Пароль")
        button.btn.btn-large.btn-primary(type="submit") Регистрация
        a.btn.btn-large.pull-right(href="/") Назад
    script.
        $(function () {
            $('.form-signin').submit(function () {
                $('.alert-error').hide();
                var data = {};
                $(this).find('input').each(function (i, input) {
                    data[$(input).attr('name')] = $(input).val();
                });
                $.post('', data, function (res) {
                    if (res.success) {
                        document.cookie = "session_id=" + res.sessionId + '; path=/;';
                        location.href = '/';
                    } else {
                        $('.alert-error').html(res.error || 'Ошибка регистрации').show();
                    }
                });
                return false;
            });
        });