html {
    -webkit-transform: scale(1) !important;
    -webkit-transform-origin: 0px 0px 0px !important;
    transform: scale(1) !important;
    transform-origin: 0px 0px 0px !important;
    min-width: 240px !important;
    height: 100%;
}

body {
    overflow: visible;
    min-height: 100%;
}

img.logo {
    display: block;
    margin: 40px auto;
}

.dialogContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: #888;
}

.dialogContainer .content {
    height: 100%;
    padding-bottom: 90px;
}

.list .chat-message {
    margin: 0px;
    clear: both;
    padding: 5px 10px;
}

.list .chat-message {
    margin: 0px;
    clear: both;
    padding: 5px 10px;
    min-width: 275px;
}

.list .chat-message.pull-right .chat-message-avatar {
    float: right;
}

.list .chat-message.pull-right .chat-message-body {
    float: none;
    margin-right: 46px;
    margin-left: 0;
}

.list .chat-message.pull-right .chat-message-body .chat-message-body-header {
    text-align: right;
}

.list .chat-message.pull-right .chat-message-body .chat-message-body-header small {
    float: left;
    margin-right: 10px;
}

.list .chat-message .chat-message-avatar {
    float: left;
    margin-top: 0px;
}

.list .chat-message .chat-message-avatar img {
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
}

.list .chat-message .chat-message-body {
    background-color: #FAFCFB;
    border: 1px solid #e6e6e6;
    padding: 0px 10px 10px 10px;
    margin-left: 46px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.list .chat-message .chat-message-body .chat-message-body-content img {
    max-width: 200px;
    max-height: 200px;
}

.list .chat-message .chat-message-body .chat-message-body-header {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #e6e6e6;
    background-color: white;
    padding-top: 4px;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
}

.list .chat-message .chat-message-body .chat-message-body-header small {
    color: #939AA4 !important;
    float: right;
}

.list .chat-message .chat-message-body .chat-message-body-content {
    margin-bottom: 0;
    margin-top: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}